* {
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  align-items: center;
  text-align: center;
}
.App {
  width: min(1000px, calc(70% + 100px));
  background-color: #24333c;
  margin: auto;
  margin: 20px auto;
}
.btn {
  background-color: #435359;
  color: #a0b3b0;
  height: 50px;
  width: min(200px, 100%);
  border: none;
  font-size: 30px;
  border-radius: 3px;
  margin: 10px auto;
}

.btn:focus {
  background-color: #1ab188;
  color: #fffffe;
}
